html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #000;
}

.invader {
    fill: #fff;
}

.small-invader {
    width: 100px;
    height: 100px;
}

#output {
    background-color: #fff;
    border: 1px solid black;
}